---
interface Step {
	title: string;
	body: string;
}

interface Props {
	steps: Step[];
}

const { steps } = Astro.props;
---

<div class="steps" id="steps">
	<div class="prog"></div>
	{
		steps.map((step, i) => (
			<div class="step" data-anim>
				<div class="n">{i + 1}</div>
				<h3>{step.title}</h3>
				<p>{step.body}</p>
			</div>
		))
	}
</div>
